node_modules
**/node_modules
.git
.gitignore
.dockerignore
*.log
*.tmp
*.tsbuildinfo
dist
coverage
.env
.env.*
**/dist
**/coverage
**/.idea
**/.vscode
**/*.md
**/tmp
**/yarn-error.log
**/npm-debug.log
